<%= solidaridad_tabs 'foro' %>

<h1>Sección 'foro'</h1>

<table>
  <thead>
    <td style="width: 8em">Estado</td>
    <td >Tema (y respuestas)</td>
    <td style="width: 10em">Fecha de creación</td>
    <td style="width: 5em"></td>
  </thead>
  
  <tbody>
    <%= render :partial => 'si_foro_child', :locals => {:root => @page, :depth => 0} %>
  </tbody>
  
</table>