<%= cambiar_tabs @section %>

<h1><%=  @section%></h1>

<% action_area do %>
    <%= action nil, 'añadir', {:action => 'crear', :id => @section } %>
<% end %>


<table>
  <thead>
    <tr>
      <td>Título</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% for page in @pages %>
      <tr>
        <td><%= page.title %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
