<%= project_tabs  'Páginas' %>

<div class="quick">
<% for page in @quicks  -%>
<%= link_to page.title, :action => 'index', :root => page.id %>
<% end -%>
</div>

<table>
  <thead>
    <td style="width: 50%">Título</td>
    <td>Última modificación</td>
    <% if admin? -%>
    <td>Estado</td>
    <td>Ref.</td>    
    <td>Tipo</td>
    <% end -%>
    <td>Acciones</td>
  </thead>
  
  <tbody>
    <%= render :partial => 'children', :locals => {:root => @page, :depth => 0} %>
  </tbody>
  
</table>



<script type="text/javascript">
    jQuery(function () {
        jQuery('.page').hover(
        function() {
            jQuery(this).addClass('highlight');
        },
        function() {
            jQuery(this).removeClass('highlight');
        }
    )});
    
</script>
