
/* color fondo: F4F2EB */
/* color marrón: DB D5C5 */
/* color oscuro: 363C44 */

/* azul: #13A FDF */
/* verde: #4CC335 */
/* manzana: #72DD01 */
/* pollo: #FFD716  */


body { text-align: center; background-color: white; }
a { text-decoration: none; color: inherit; }
a:hover {text-decoration: underline;}
img { margin: 2px 0 0 0; }
table {  width: 100%; }
table thead { font-weight: normal;; background-color: #88dd77; border-bottom: 1px solid green; }
td { vertical-align: middle; padding: 5px 2px; }

h1 { font-size: 200%; margin: 0.5em 0 1em 0.5em; }
h2 { font-size: 150%; margin: 1em 0 0.5em 1em; }

/**** LAYOUT ***/
#page { width: 75em; margin: 0px auto; background-color: #FBFAD4; text-align: left; padding: 0em 0em 5em 0em; }
#header { background-color: #468800; color: white; text-align: left; padding: 1em 1em 0 1em; }
#preview { margin: 2em; padding: 1em; background-color: white; border: 1px solid #DBD5C5; }
#bottom {margin: 0em auto 1em auto; color: gray; border-top: 1px solid lightgray; padding: 1em 0 0 0}

#page div.info {margin: 0 1em 0 1em; width: 73em; color: #DBC381; text-align: right;}

/*** TABLE ***/
table { margin: 1em; width: 73em;}
td.actions {}

/*** ACTIONS ***/
div.actions { margin: 1em; }
div.actions .action { border: 1px solid #DBC381; background-color: white; float: left; margin: 0 5px 0 0; }
div.actions a { font-size: 95%; line-height: -1em; display: block; border: 1px solid #DBC381;
    background-color: white; color: #C4AF74; padding: 4px 10px; margin: 2px;}
div.actions a img { float: left; margin: 0px 0 0 -2px;}
div.actions a:hover { color: white;  background-color: #DBC381;}

/**** TAB ****/
div.tabs * { display: block; float: left; padding: 0.5em 3em; margin-right: 0.2em; }
div.tabs a { background-color: #baed84; color: black; }
div.tabs .active { background-color: #468800; color: white; }
