<%= project_tabs 'Files' %>

<h1>Files</h1>

<% action_area do %>
        <%= action 'picture_add.png', 'añadir imágen o fichero', new_admin_attachment_path %>
  <% end %>

<%= render :partial => 'list', :locals => {:attachments => @attachments} %>
<br />


