
<%= project_tabs '' %>

<div class="formBox">
  <h1>Upload a file</h1>
  
  <%= error_messages_for :attachment %>
  
  <% form_for([:admin, @attachment], :html => { :multipart => true }) do |f| %>
    <div><label>File:</label>
      <%= f.file_field :uploaded_data %>
    </div>
    <%= submit_button 'Añadir', "jQuery('#new_attachment').submit()" %>
  <% end %>
  
</div>

