<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <link rel="shortcut icon" href="images/soda/favicon.ico" type="image/x-icon" />
        <title>SODA - social and environmental design </title>
    </head>
    <body>
        <div style="width: 100%; text-align: center;">
            <img src="images/soda/uc.png" alt="soda under construction" />
        </div>
    </body>
</html>