
/* color fondo: F4F2EB */
/* color marrón: DB D5C5 */
/* color oscuro: 363C44 */

/* azul: #13A FDF */
/* verde: #4CC335 */
/* manzana: #72DD01 */
/* pollo: #FFD716  */


body { text-align: center; background-color: white; }
a { text-decoration: none; color: inherit; }
img { margin: 2px 0 0 0; }
table {  width: 100%; }
table thead { font-weight: normal;; background-color: #88dd77; border: 1px solid green; }
td { vertical-align: middle; padding: 5px 2px; }

h1 { font-size: 200%; margin: 0.5em 0 1em 0; }
h2 { font-size: 150%; margin: 1em 0 0.5em 0; }

/**** LAYOUT ***/
#page {
    width: 75em;
    margin: 0px auto;
    background-color: white;
    text-align: left;
    padding: 0em 3em;
}

#header {
    background-color: #468800;
    color: white;
    text-align: left;
    padding: 30px 10px 5px 10px;
}

#preview {
    width: 100%;
    margin: 2em;
    padding: 1em;
    background-color: white;
    border: 1px solid #DBD5C5;
}


.editor {
    width: 70em;
    background-color: white;
}

/*** TABLE ACTIONS ***/
.table_actions {
    text-align: right;
}

.table_actions a img {
    width: 1em;
    height: 1em;
}

.table_actions a {
    display: block;
    float: left;
    font-size: 70%;
    color: gray;
    padding: 2px 5px;
}

.table_actions a:hover {
    color: white;
    background-color:  #DBD5C5;
}

/*** ACTIONS ***/
div.actions { margin: 20px 0; }
div.actions .action { border: 1px solid #DBD5C5; background-color: white; float: left; margin: 0 5px 0 0; }
div.actions a { font-size: 95%; line-height: -1em; display: block; border: 1px solid #DBD5C5;
    background-color: white; color: #D1C38E; padding: 4px 10px; margin: 2px;}
div.actions a img { float: left; }
div.actions a:hover { color: white;  background-color: #DBD5C5;}

.children a {
    color: black;
}



/**** TAB ****/
div.tabs * {
    display: block;
    float: left;
    padding: 0.5em 3em;
    margin-right: 0.2em;
}

div.tabs a {
    background-color: #baed84;
    color: black;
}

div.tabs .active {
    background-color: #468800;
    color: white;
}
