
#images div.attachment {
    border: 0.2em solid white;
    float: left;
    padding: 0.3em;
}

#images div.attachment img {
    display: block;
}

#images div.selected {
    border: 0.2em solid gray;
}