
div.formBox { border:solid 1px #c6cfe1;
    background-color: #dfeee0;
    padding: 0.5em 2em 2em 2em;
    color:#333333;
    margin: 3em 0;
    float: left;
}

div.formBox h1 {
    font-size: 150%;
    color:#000000;
}
div.formBox p{padding-bottom:14px;}

div.formBox input .input-text{
    border:1px solid #3b6e22;
    color:#666666;
    width:180px;
}

div.formBox div {
    display:block;
    margin-bottom:10px;
    color:#555555;
}

div.formBox div label {
    display:block;
    float:left;
    padding-right:6px;
    width:70px;
    text-align:right;
    font-weight:bold;
}

form .spacer{
    margin-left:80px; 
    margin-bottom: 4em;
    color:#555555;
}
.green{
    background:url(../images/green.gif);
    padding: 3px 1em;
    border:1px solid #3b6e22;
    height:18px; 
    color:#FFFFFF;
    margin-right:10px;
    display:inline-block;
    text-decoration:none;
    font-size: 14px;
}

form p {
    height: 1.5em;
    margin: 0.2em 0;
}


textarea {
    width: 70em;
}
