<div class="actions">
  <%= link_to 'Añadir un nuevo tema de discusión al foro', :action => 'nuevo_tema' %>
</div>

<div id="foro">
<% for item in @items  %>
  <div class="item">
    <div class="tema"><%= link_to item.title, :action => 'ver_tema', :id => item %></div>
  </div>
<% end  %>
</div>