<%= project_tabs @project, 'páginas' %>
<h1>Páginas de '<%= @project.name %>'</h1>

<% action_area do %>
  <%= action nil, 'ver parte pública', @project.public_url %>
<% end %>

<table>
  <thead>
    <td style="width: 50%">Título</td>
    <td>Última modificación</td>
    <td>Estado</td>
    <td>Ref.</td>    
    <td></td>
  </thead>
  
  <tbody>
    <% for node in @project.page.children %>
      <%= render :partial => 'children', :locals => {:root => node, :depth => 1} %>
    <% end %>  
  </tbody>
  
</table>



<script type="text/javascript">
    jQuery(function () {
        jQuery('.page').hover(
        function() {
            jQuery(this).addClass('highlight');
        },
        function() {
            jQuery(this).removeClass('highlight');
        }
    )});
    
</script>
