<h1>c a l c pages - Proyectos</h1>

<%  action_area do %>
    <%= action 'report_add.png', 'New project', new_project_path %>
  <% end %>


<table>
  <thead>
    <tr>
      <td>Nombre</td>
      <td></td>
    </tr>
  </thead>
  
  <tbody>
    <% for project in @projects %>
      <tr>
        <td><%= link_to project.name, project_pages_path(project) %></td>
        <td class="table_actions">
                 <%=  link_to 'Edit', [project, :edit] %>
                <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<br />


