
<div id="files_browser">
</div>

<div class="files main">
  <% for card in @files -%>
    <div class="file">
      <div class="thumb"><%= image_of card, :thumb %> </div>
      <div class="info">pdf</div>
      <div class="info last">www</div>
    </div>
  <% end -%>
</div>

<%= clear  %>
<br/><br/><br/>
