<ul class="<%= "depth-#{root.depth}" %>" >
  <% for page in root.children -%>
    <% selected = @page == page ? 'selected' : '' -%>
    <li>
      <% if page.state == 'locked' %>
        <div class="locked"><%= page.title %></div>
      <% else %>
        <%= link_to( page.title, {:action => :pagina, :id => page}, :class => "depth-#{page.depth} #{selected}") -%>
      <% end  %>
    </li>
    <%= render(:partial => '/layouts/apy/menu_items', :locals => {:root => page}) if show_childs?(@page, page) -%>
  <% end -%>
</ul>
