<ul>
<% for page in pages %>
<li><%= link_to_if(page.depth != 1, page.title, {:action => :pagina, :id => page}) %></li>
<%= render(:partial => '/layouts/apy/menu_items', :locals => {:pages => page.children}) if page.depth < 3 %>
<% end %>
</ul>
