
<%= project_tabs 'Users'  %>

<h1>Users</h1>

<% action_area do %>
  <%= action 'user_add.png', 'add user', new_admin_user_path %>
<% end %>


<table>
  <thead>
    <tr><td>email</td>
      <td></td>
    </tr>
  </thead>
  <tbody>  
    <% for user in @users %>
      <tr>
        <td><%= user.email %></td>
        <td class="table_actions">
          <%= link_to 'Destroy', [:admin, user], :confirm => 'You are going to delete a user. Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


