
a {
  color:black;
}
#header a {
  color:white;
}
td .item {
  background-color:white;
  border:1px solid gray;
  padding:0.5em;
}
div.formBox input[type="text"] {
  width:40em;
}
div.formBox textarea {
  height:30em;
  width:40em;
}
div.formBox div.info {
  color:#468800;
  float:left;
}

