


td .item {padding: 0.5em; border: 1px solid gray; background-color: white;}

div.formBox input[type=text] {width: 40em;}
div.formBox textarea {width: 40em; height: 10em;}
div.formBox div.info {color: #468800; float: left;}

div.helpBox {border: 1px solid orange; float: right; padding: 1em; margin: 1em 1em 0 0; background-color: #ffeb99;}
div.helpBox h1 {font-size: 120%;}
div.helpBox ul li {width: 16em;}