
strong { font-weight: bold;}

div.item.hoja {}
div.item.hoja div.title {font-size: 150%;}
div.item.hoja {}

div.item.agenda {margin: 0 0 0.5em 0;}
div.item.agenda div.date {font-size: 200%;}
div.item.agenda div.title {font-weight: bold;}

div.item.actualidad {margin: 0 0 0.5em 0;}
div.item.actualidad div.date {font-size: 200%;}
div.item.actualidad div.title {font-weight: bold;}


div.item.material {float: left; margin: 1em; text-align: center;}
div.item.material span.title {font-weight: bold;}

div.item.video {margin: 0 0 0.5em 0;}
div.item.video div.title {font-weight: bold;}

div.item.enlace {margin: 0 0 1em 0;}