
div.item.hoja {}
div.item.hoja div.title {font-size: 150%; margin: 0 0 1.5em 0; color: #F0C730;}
div.item.hoja {}

div.item.agenda {margin: 0 0 0.5em 0;}
div.item.agenda div.date {font-size: 200%;}
div.item.agenda div.title {font-weight: bold; font-size: 120%; color: #027F11;}
div.item.agenda div.content {margin: 0 0 3em 0;}
div.item.agenda div.content p {margin: 0 0 0.4em 0;}
div.item.actualidad {margin: 0 0 0.5em 0;}
div.item.actualidad div.date {font-weight: bold; font-size: 110%; margin: 0 0 2em 0;}
div.item.actualidad div.title { font-size: 200%; color: #2D5D77;}



div.item.material {float: left; margin: 1em; padding: 0 0 1em 0; text-align: center; background-color: #028E93;}
div.item.material .title {font-weight: bold; color: white; text-align: center; padding: 5px 0;}

div.item.video {margin: 0 0 0.5em 0; background-color: #938402; text-align: center;}
div.item.video div.title {font-weight: bold; color: white; padding: 5px 0;}

div.item.enlace {margin: 0 0 3px 0; background-color: #D3021C; padding: 5px 5px; color: white;}
div.item a {color: white;}