
/*

morado: #66063E;
naranja: #DF8000;
*/

body { background-image: url('../../images/solidaridad/bg.gif');}
a {  text-decoration: none; color: inherit; }
h1 {font-size: 130%; margin: 0 0 0.25em 0;  }


#page { width: 1000px; margin: 3em auto; overflow: hidden; background-color: white; }
#top {background-color: #67053E;}

#logo { float: left; width: 130px; background-color: white; text-align: center; 
  padding: 10px 0 0 0; height: 83px; margin: 0; }
#logged { padding: 0.5em; font-size: 75%; }
#banner { border: 0; width: 870px; height: 62px; margin: 0; float: left;
  background: url('../../images/solidaridad/banner.gif') no-repeat ; overflow: hidden;}

#sections {float: left; width: 730px; height: 31px; overflow: hidden; background-color: white;}
#areas {width: 800px;}
#areas img { float: left; margin-right: 2px; }

#menu {background-color: #67053E; width: 130px; float: left; padding: 0 0 3000px 0;
    margin: 0 0 -3000px 0; overflow: hidden;}
#menu a {color: #F0C730;}
#menu div.area {width: 120px; color: white; margin: 2em 0 10px 10px; font-size: 90%;}
#menu div.item {width: 118px; color: #F0C730; margin: 0 0 0 0.5em; padding: 0.4em 1em;
  border-bottom: 1px solid #F0C730;}
#menu div.item.selected {background-color: white;}
#menu div.item a {font-size: 85%;}


#content { padding: 50px 70px 130px 70px; margin: 0 0em 0em 0; 
    width: 590px; background-color: white; overflow: hidden; float: left;}
#content > a  {color: black;}
#content > div.title {font-size: 120%; font-weight: bold; margin: 0 0 1.5em 0; color: #F0C730; }
#content font { font-size: 90%; }

#content p { margin: 0 0 1.5em 0; }
#content em {font-style: italic;}
#content strong {font-weight: bold;}
#content img {margin: 0 1em;}
#content p.footnote {font-size: 85%;}

#content table {font-size: 85%;}
#content table {color: white; background-color: #67053E;}
#content table tr th {padding: 0.3em 0.5em; font-weight: bolder; border: 1px solid white;}
#content table tr td {padding: 0.3em 0.5em; border: 1px solid white;}


#last > img {border-right: 0px;}

#news {background-color: #67053E; float: right; width: 130px;  padding: 40px 5px 3000px 5px; color: white;
  font-size: 100%; margin: 0 0 -3000px 0; overflow: hidden;}
#news > div {margin: 0 0 0.5em 0; padding: 0 0 0 0em; }
#news a {color: white;}
#news div h1 {padding: 0.1em 0 0.3em 0.3em; font-size: 90%;}
#news div div.content {font-size: 100%; padding: 0.5em; font-size: 85%;}

#sponsors {padding: 250px 0 0 0;}


div.form { background-color: #DF8000; padding: 1em;}
div.form h1 {font-size: 120%;}
div.form div {margin: 0.1em 0;}
div.form div label {display: block; float: left; width: 5em; text-align: right; padding: 0.5em 0.2em 0 0;
    margin: 0 0.3em 0 0;}
div.form div input[type='text'] { width: 30em; border: 0; margin: 0.3em 0; height: 1.6em;}
div.form div textarea { width: 30em; height: 10em; border: 0;margin: 0.3em 0;}

div.actions { padding: 1em 0; margin: 0 0 1em 0;}
div.actions a {padding: 1em; border: 1px solid gray; }
div.actions a:hover {text-decoration: underline;}

#foro div.item {background-color: #DF8000; padding: 0.5em 1em; margin: 0.3em 0em;}
#foro a:hover {text-decoration: underline;}
#foro > div.item > div.tema {color: #66063E; font-size: 110%;}

#nuevo_foro {padding: 1em; margin: 0 0 0.0em 0; border: 1px solid gray;
    border-bottom: 0px solid gray; }
#ver_foro {border: 1px solid gray; border-bottom: 0;}
#ver_foro > h1 { background-color: #DF8000; color: white; padding: 0.2em 1em;}
#ver_foro div.response {margin: 0.5em 1em; }
#ver_foro div.response div.name {background-color: #DF8000; padding: 0.2em 1em; }
#ver_foro div.response div.body {padding: 0.2em 1em;}
div.enviar {text-align: right; width: 35.3em;}

