
body { background-color: white; }
a {  text-decoration: none; }

#logo { float: left; width: 10em; background-color: white; text-align: center; }
#logged { padding: 0.5em; font-size: 75%; }
#page { width: 77.5em; margin: 1em auto; overflow: hidden; background-color: #67053E; }
#content { padding: 1em 1em 100em 1em; margin-left: 10em; margin-bottom: -99em;
    width: 54.3em; background-color: white; }
#content font { font-size: 90%; }
#content p { margin: 0.5em 0; }


#banner {
    width: 67.5em;
    height: 4.8em;
    margin-left: 10em;
    background: url('../images/solidaridad/banner.gif') no-repeat ;
}

#areas {}
#areas img { float: left; }

#news {float: right; width: 10em; padding: 0 0.5em; color: white;}
#news div.item {margin: 0 0 0.5em 0;}
#news div.item div.content {padding: 0 0 0 0.3em; font-size: 80%;}

#menu {
    float: left; 
    width: 8em;
    padding: 0 1em;
    padding-bottom: 200em;
    margin-bottom: -200em;
}

#menu ul {
    margin: 0; 
    border: 0; 
    padding: 0.5em 0 2em 0; 
    list-style: none; 
    width: 100%;
  font-size: 85%;
}

#menu li {
    margin: 0; 
    border: 0; 
    color: white; 	
    filter: alpha(opacity=80);
    -moz-opacity:.80;
    opacity: 0.80;
}

#menu li.area a {
    display: block;
    color: white;
}

#menu li.item a {
    display: block;
    padding: 0.1em;
    border-bottom: 1px solid white;
    border-left: 8px solid white;
    color: white;		
}

#menu li.item a:hover {
    background-color: #ddd;
}

