
body { background-color: white; }
a {  text-decoration: none; color: inherit; }
h1 {font-size: 200%; margin: 0 0 0.25em 0;  }

#logo { float: left; width: 10em; background-color: white; text-align: center; padding: 10px 0 0 0; height: 83px; }
#logged { padding: 0.5em; font-size: 75%; }
#page { width: 77.5em; margin: 1em auto; overflow: hidden; background-color: #67053E; }
#banner { width: 67.5em; height: 4.8em; margin-left: 10em; background: url('../../images/solidaridad/banner.gif') no-repeat ; }
#content { padding: 1em 1em 100em 1em; margin-left: 10em; margin-bottom: -99em;
    width: 54.3em; background-color: white; }
#content font { font-size: 90%; }

#content p { margin: 0.5em 0; }
#content em {font-style: italic;}
#content strong {font-weight: bold;}

#areas {  }
#areas img { float: left; border-right: 2px solid white; border-bottom: 2px solid white;}

#news {float: right; width: 10em; padding: 0 0.5em; color: white;}
#news div.item {margin: 0 0 0.5em 0;}
#news div.item div.content {padding: 0 0 0 0.3em; font-size: 80%;}

#menu { float: left; width: 8em; padding: 0 1em; padding-bottom: 200em; margin-bottom: -200em; }
#menu ul { margin: 0; border: 0; padding: 0.5em 0 2em 0; list-style: none; width: 100%;  font-size: 85%; }
#menu li { margin: 0; border: 0; color: white; filter: alpha(opacity=80);  -moz-opacity:.80; opacity: 0.80; }
#menu li.area a { display: block; color: white; }
#menu li.item a { display: block; padding: 0.1em; border-bottom: 1px solid white; border-left: 8px solid white; color: white; }
#menu li.item a:hover { background-color: #ddd;}

div.form { border: 1px solid gray; padding: 1em;}
div.form h1 {font-size: 120%;}
div.form div {margin: 0.1em 0;}
div.form div label {display: block; float: left; width: 5em; text-align: right; padding: 0 0.2em 0 0;}
div.form div input[type='text'] { width: 30em;}
div.form div textarea { width: 30em; height: 10em;}

div.actions { padding: 1em 0; margin: 0 0 1em 0;}
div.actions a {padding: 1em; border: 1px solid gray; }
div.actions a:hover {text-decoration: underline;}

#foro div.item {background-color: #FBBCE0; padding: 0.2em 1em; margin: 0.3em 0.3em;}
#foro a:hover {text-decoration: underline;}

#foro {border: 1px solid #67053E; padding: 0; margin: 0 0 1em 0;}
#foro h1 { background-color: #67053E; color: white;}
#foro div.response {margin: 0.5em 1em; }
#foro div.response div.name {background-color: #FBBCE0; padding: 0.2em 1em; }
#foro div.response div.body {padding: 0.2em 1em;}

